<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>Wisconsin Chess - Reward</title>
        <link rel="stylesheet" type="text/css" href="/web/font.css">
        <link rel="stylesheet" type="text/css" href="/web/layout.css">
        <link rel="stylesheet" type="text/css" href="/web/reward.css">
        <script type="text/javascript">
            window.Name = {{.Name}}
            window.GameID = {{.ID}}
            window.LeftPiece = {{.Left}}
            window.RightPiece = {{.Right}}
            window.RewardPiece = {{.Reward}}
            window.Collection = {{.Collection}}
        </script>
        <script type="module" src="/web/reward.js"></script>
    </head>
    <body></body>
</html>
