body {
    background: linear-gradient(rgb(72,40,21), rgb(10,41,60));
}

a {
    padding: 5px;
}

a:link, a:visited {
    color: white;
}

#unsupported {
    font-size: 1.5rem;
}

.floatingside {
    width: 10%;
}

.widefloatingside {
    width: 20%;
}

.verywidefloatingside {
    width: 30%;
}

#floatingbar {
    border: slim rgb(50,10,10);
    border-radius: 5%;
}

#players {
    background-color: rgb(15,30,60);
    height: 20%;
    border-radius: 0 0 5px 5px;
}

.name {
    font-size: 2rem;
    text-align: center;
    color: rgb(205,180,160);
}

#condition {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(250,255,245);
    background-color: rgb(50,35,20);
}

#title {
    color: rgb(130,75,60);
    font-size: 2rem;
    font-weight: normal;
}

#controls {
    background-color: rgb(1,20,50);
    height: 20%;
}

#buttons {
    width: 40%;
}

#squarenav {
    width: 80%;
}

#description {
    width: 40%;
}

.buttonmargin {
    padding: 0.3rem;
}

.buttonsurface {
    border: medium outset rgb(100,155,175);
    border-radius: 5%;
    background-color: rgb(5,65,150);
}

.buttonverticalcentering {
    height: 15%;
}

.buttontext {
    user-select: none;
    text-align: center;
    font-size: 1rem;
    color: rgb(180,235,255);
}

#piece {
    height: 50%;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(100,150,250);
}

.pieceimg {
    width: 100%;
    height: 100%;
}

.characteristic {
    text-align: center;
    font-style: italic;
    font-size: 1rem;
    color: rgb(70,150,150);
}

#boardrow {}

#squarebuttonspacer {
    height: 20%;
}

#board {
    background-color: rgb(15,5,0);
}

.chesssquare {
    border: thin solid rgb(200,185,145);
}

.hover {
    opacity: 0.7;
    background-color: rgb(70,60,55);
}

.move {
    opacity: 0.4;
    background-color: rgb(80,70,65);
}

.select {
    opacity: 0.7;
    background-color: rgb(70,60,55);
}

.selectmove {
    opacity: 0.4;
    background: linear-gradient(0.33turn, rgb(60,91,100), rgb(102,90,71));
}

#portraitdesc {
    width: 40%;
}
