body {
    background-color: rgb(21,41,21);
}

#landscapemode {
    width: 15%;
}

#portraitmode {
    height: 10%;
}

.modebox {
    background-color: rgb(150,145,110);
}

#modeoptions {
    height: 20%;
    background-color: rgb(80,55,50);
}

#record {
    height: 25%;
}

#skinnyheader {
    height: 20%;
}

#armypicker, .pickercell {
    vertical-align: top; // removes unwanted added vertical space
}

.armypick {
    //border: 0.1em solid rgb(200,1,1);
}

.pieceimg {
    width: 100%;
    height: 100%;
}

.computermodehorizontalcentering {
    width: 30%;
}

.buttonmargin {
    padding: 1em;
}

.buttonsurface {
    border: 0.25em outset rgb(100,155,175);
    border-radius: 0.15em;
    background-color: rgb(5,65,150);
}

.buttonverticalcentering {
    height: 35%;
}

.buttontext {
    user-select: none;
    text-align: center;
    font: 12pt serif;
    color: rgb(180,235,255);
}

.buttonselected {
    border: 0.25em outset rgb(200,255,255);
    background-color: rgb(175,265,100);
}

.buttontextselected {
    color: rgb(55,20,35);
}

