#landscapemode {
    width: 15%;
}

#portraitmode {
    height: 10%;
}

#modeoptions {
    height: 20%;
}

#record {
    height: 25%;
}

.armycell {

}

.selectcell {

}

.pieceimg {

}

.armyrow {

}

.armypick {

}

.even {

}

.odd {

}

.modebuttonselected {

}

.optionbutton {

}

.friendbutton {

}

.timedbutton {

}
