body {
    background: linear-gradient(rgb(72,40,21), rgb(10,41,60));
}

a {
    padding: 5px;
}

a:link, a:visited {
    color: white;
}

#unsupported {
    font-size: 1.5rem;
}

.floatingside {
    width: 10%;
}

.widefloatingside {
    width: 20%;
}

.verywidefloatingside {
    width: 30%;
}

#floatingbar {
    border: slim rgb(50,10,10);
    border-radius: 5%;
}

#navigation {
    height: 15%;
}

#playernames {
    height: 30%;
}

#controls {
    height: 25%;
}

#against {
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
    color: rgb(140,60,60);
}

#blacknametext, #whitenametext {
    font-size: 1.9rem;
    text-align: center;
    color: rgb(205,180,160);
}

#status {
    font-size: 2rem;
    text-align: center;
    color: rgb(130,75,60);
    background-color: rgb(50,35,20);
}

.statusindicating {
    font-size: 2.3rem;
    color: rgb(250,255,245);
    font-weight: bold;
}

.statusverticalmargin {
    height: 20%;
}

#mutetext, #showmovestext, #swapinterfacetext {
    font-size: 2rem;
    text-align: center;
    color: rgb(180,180,200);
}

#showmovestext {
    font-size: 3.5rem;
    text-align: center;
    color: rgb(180,170,175);
}

#backconcedemargin {
    padding: 10px;
}

#backconcedetext {
    font-size: 2rem;
    color: rgb(190,200,210);
    text-align: center;
}

#backconcede.backconcedehover {
    opacity: 0.9;
}

#ackmargin {
    padding: 10px;
}

#ack {
    border: outset rgb(255,225,235);
    border-radius: 5px;
    background: linear-gradient(rgb(200,50,10), rgb(20,135,120));
}

#acktext {
    font-size: 2rem;
    text-align: center;
    color: rgb(190,230,255);
}

#queenprommargin, #rookprommargin, #bishopprommargin, #knightprommargin {
    padding: 10px;
}

.promotebutton {
    background-color: rgb(35,30,200);
    border: medium outset rgb(220,210,200);
    border-radius: 5px;
}

#queenpromtext, #rookpromtext, #bishoppromtext, #knightpromtext {
    text-align: center;
    font-size: 1.4rem;
    color: rgb(210,255,190);
}

.pieceimg {
    width: 100%;
    height: 100%;
}

#boardrow {}

#squarebuttonspacer {
    height: 20%;
}

#board {
    background-color: rgb(15,5,0);
    border: thin solid rgb(250,185,145);
}

.chesssquare {
    border: thin solid rgb(200,185,145);
}

.hover {
    opacity: 0.7;
    background-color: black;
}

.move {
    opacity: 0.5;
    background-color: black;
}

.select {
    opacity: 0.6;
    background-color: black;
}

.selectmove {
    opacity: 0.2;
    background: black;
    outline: thick solid rgb(200,125,145);
}

.moveable {
    border: thick groove rgb(255,50,100);
}

#portraitdesc {
    width: 40%;
}
