* {
    touch-action: none;
}

body {
    background: linear-gradient(rgb(11,25,18), rgb(21,25,28));
}

p {
    margin: 0;
}

#top {
    height: 10%;
    background: linear-gradient(90deg, rgb(1,31,121), rgb(7,20,55));
    border-bottom: thin solid red;
}

#topspacer {
    width: 15%;
}

#name {
    font-size: 2rem;
    color: rgb(220,220,200);
    text-align: center;
}

#detailsmargin {
    height: 10%;
    padding: 5px;
    padding-bottom: 20px;
}

#details {
    border: thin outset rgb(205,175,128);
    border-radius: 5px;
    font-size: 1.3rem;
    color: rgb(220,220,200);
    background: linear-gradient(rgb(110,70,20), rgb(130,50,30));
    text-align: center;
}

#title {
    font-size: 1.8rem;
    color: rgb(250,110,120);
    text-shadow: 1px 1px 0 rgb(5,5,50);
    font-weight: bold;
    text-align: center;
}

#quitmargin {
    width: 100%;
    height: 100%;
    padding: 10px;
}

#quit {
    border-radius: 4px;
    color: rgb(150,120,200);
    background-color: rgb(20,10,30);
    box-shadow: -2px -3px 1px rgb(50,50,50);
    font-size: 1.5rem;
    text-align: center;
}

#left {
    width: 25%;
    padding: 15px;
}

#picksmargin {
    height: 20%;
}

.pick {
    border: thick outset rgb(20,200,120);
    border-radius: 5px;
}

#pickdesc {
    padding: 20px;
    color: rgb(100,220,180);
    font-size: 1.3rem;
    font-style: italic;
}

#matchmargin {
    padding: 20px;
}

#match {
    border: thick outset rgb(255,125,128);
    border-radius: 7px;
    color: rgb(255,240,245);
    background: linear-gradient(rgb(50,80,200), rgb(7,20,255));    
    box-shadow: 0px -4px 10px rgb(255,125,128);
    font-size: 2.4rem;
    text-align: center;
}

#army {
    text-align: center;
    height: 30%;
}

#armydesc {
    padding-bottom: 5px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(255,195,175);
    font-size: 1.2rem;
    font-style: italic;
    height: 15%;
}

#collection {
    padding: 10px;
    text-align: center;
}

.collectioncell {
    background: linear-gradient(rgb(110,250,180), rgb(210,250,28));
    border: thick outset rgb(70,150,20);
    border-radius: 3px;
}

.selected {
    border: thick dashed rgb(255,100,80);
    border-radius: 3px;
}

.used {
    border: thick outset rgb(50,255,200);
    box-shadow: -1px 0 10px rgb(200,200,195);
    opacity: 0.2;
}

.replaced {
    border: thick solid rgb(160,180,255);
}
