body {
    background: linear-gradient(rgb(11,25,18), rgb(21,25,28));
}

a {
    width: 100%;
    height: 100%;
}

#title {
    font-size: 1.5rem;
    font-style: italic;
    color: rgb(120,100,100);
    text-align: center;
}

#name {
    font-size: 1.5rem;
    color: rgb(220,220,200);
    text-align: center;
}

.modepickspacer {
    height: 7%;
}

#modepick {
    width: 17%;
    background: linear-gradient(to bottom right, rgb(30,35,40), rgb(35,40,34));
}

#contentspacer {
    width: 0%;
    height: 0%;
}

#content {
    /*border: 3px solid rgb(200,200,210);*/
}

#logout {
    border-radius: 4px;
    color: rgb(150,120,200);
    background-color: rgb(20,10,30);
    box-shadow: -2px -3px 1px rgb(50,50,50);
    font-size: 1.1rem;
    text-align: center;
    user-select: none;
}

#logoutspacer {
    height: 20%;
}

#logoutdiv {
    height: 12%;
}

.buttonmargin {
    width: 100%;
    height: 100%;
    padding: 8px;
}

.modebuttonmargin {
    padding: 10px;
}

.modebutton {
    border: thick outset rgb(130,131,102);
    border-radius: 10px;
    color: rgb(105,90,100);
    background-color: rgb(10,40,60);
    box-shadow: -3px -4px 1px black;
    font-size: 2rem;
    text-align: center;
    user-select: none;
}

.selected {
    border: thick outset rgb(233,255,235);
    color: rgb(225,255,235);
    background-color: rgb(210,130,110);
    box-shadow: 0 0 0 black;
}

#play {
    height: 12.5%;
}

#playbuttonmargin {
    padding: 13px;
}

#playbutton {
    border: 4px outset rgb(240,220,220);
    border-radius: 2px;
    color: rgb(245,255,237);
    background-color: rgb(150,200,170);
    box-shadow: -1px 0 10px rgb(210,210,200);
    font-size: 2rem;
    text-align: center;
    user-select: none;
}

.playspacer {
    height: 15%;
}

#army {
    height: 25%;
}

.armycell {
    border: thin solid rgb(45,45,55);
}

.pickedarmycell {
    border: thick inset rgb(255,155,25);
}

#picks {
    padding: 20px;
    text-align: center;
}

#pickspacer {
    width: 5%;
}

.pickcell {
    border: thick outset rgb(50,255,200);
    background: repeating-linear-gradient(
        45deg,
        rgb(50,5,200),
        rgba(40,200,5,0.2) 5px,
        rgba(200,200,5,0.2) 20px,
        rgb(10,5,200) 5px
    );
    box-shadow: -1px 0 10px rgb(200,200,195);
}

.collectioncell {
    border: 1px solid rgb(220,248,210);
}

#collection {
    height: 37.5%;
    text-align: center;
}

.pieceimg {
    width: 100%;
    height: 100%;
}

.pickedcellpicked {
    border: thick outset rgb(10,110,110);
}

.picked {
    opacity: 0.2;
}

#publics {
    height: 50%;
}

#opponentinputmargin {
    padding: 7px;
}

#opponent {
    padding: 2px;
    display: block;
    font: inherit;
    font-size: 1.5rem;
    border: thick outset rgb(155,125,128);
    border-radius: 2px;
}

#opponentlabel {
    display: block;
    font-size: 1.4rem;
    color: rgb(230,245,255);
    text-align: center;
}

#matchbuttonmargin {
    padding: 10px;
    height: 40%;
}

#match {
    border: thick outset rgb(255,125,128);
    border-radius: 7px;
    color: rgb(255,240,245);
    background-color: rgb(50,80,200);
    box-shadow: 0px -4px 10px rgb(255,125,128);
    font-size: 2.2rem;
    text-align: center;
    user-select: none;
}

.playerbuttonmargin {
    padding: 5px;
}

.playerbutton {
    border: thick outset rgb(105,75,78);
    border-radius: 7px;
    color: rgb(55,120,145);
    font-style: italic;
    background-color: rgb(20,50,70);
    font-size: 1.4rem;
    text-align: center;
    user-select: none;
}

.playernamed {
    border: thick outset rgb(255,125,128);
    color: rgb(255,240,245);
    font-style: normal;
    background-color: rgb(50,80,200);
    box-shadow: 0px -4px 10px rgb(255,125,128);
}

#matchingspacer {
    width: 10%;
}

.matchcancelspacer {
    height: 20%;
}

.matchingtext {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    color: rgb(240,50,50);
}

.matchingplayer {
    text-align: center;
    font-size: 2.2rem;
    color: rgb(190,190,255);
}

#cancelbuttonmargin {
    padding: 5px;
}

#cancelbutton {
    border: thick outset rgb(150,255,180);
    border-radius: 5px;
    color: rgb(220,255,235);
    background: linear-gradient(to bottom right, rgb(80,50,10), rgb(70,20,1));
    background-color: rgb(80,50,10);
    box-shadow: -5px -5px 1px black;
    user-select: none;
    text-align: center;
    font-size: 1.5rem;
}

.cancelbuttonspacer {
    width: 20%;
}
