<!DOCTYPE html>
<html lang="en-US">

<head>
<meta charset="UTF-8">
<title>{{.Name}} - Wisconsin Chess</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/web/font.css">
<link rel="stylesheet" type="text/css" href="/web/details.css">
</head>

<body>

<div id="flex">

<div id="pieceimg">
<img id="look" src="/web/img/look_{{.CodeName}}.png" alt="View of the {{.Name}} piece">
</div>

<div id="text">

{{.Description}}

{{if .CharacteristicA}}
<h2>{{.CharacteristicA}}</h2>
<p>{{.CharacteristicADescription}}</p>
{{end}}

{{if .CharacteristicB}}
<h2>{{.CharacteristicB}}</h2>
<p>{{.CharacteristicBDescription}}</p>
{{end}}

</div>

</body>

</html>
