<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Wisconsin Chess - Match</title>
    <link rel="stylesheet" type="text/css" href="/web/font.css">
    <link rel="stylesheet" type="text/css" href="/web/match.css">
    <script type="text/javascript">
        window.Name = {{.Name}}
        window.RecentOpponents = {{.RecentOpponents}}
    </script>
    <script type="module" src="/web/match.js"></script>
</head>

<body>

<p id="pagetitle"><span id="player">{{.Name}}</span> playing Wisconsin Chess.</p>

<p class="description" id="pagedesc">Choose a mode. Either play against the automatic computer 
opponent or against a person you know.</p>

<div class="flex">
    <div class="main section flex">
        <div class="section">
            <div id="comp" class="activebutton noselect">Play Computer</div>
        </div>
        <div class="section">
            <p id="beststreaktitle">Your Top Computer Win Streak: 
                <span id="beststreak">{{.BestComputerStreak}}</p>
            <p id="streaktitle">Your Current Computer Win Streak: 
                <span id="streak">{{.ComputerStreak}}</p>
        </div>
    </div>

    <div class="main section flex">
        <p class="description" id="matchdesc">Enter your opponent's name in the text box then 
        press the match button. If your opponent does the same with your name then the game 
        starts. Any successful matches are saved as shortcut buttons for future games.</p>
        <div class="section" id="inputsection">
            <input id="opp" type="text" maxlength="21" placeholder="Opponent name">
            <div id="oppsubmit" class="activebutton noselect">Match</div>
            <p id="matchingtext" class="hidden">Matching <span id="matchingname"></span>.</p>
            <div id="cancel" class="hidden activebutton noselect">Cancel</div>
        </div>
        <div class="section">
            <div id="r0" class="recentopp"></div>
            <div id="r1" class="recentopp"></div>
            <div id="r2" class="recentopp"></div>
            <div id="r3" class="recentopp"></div>
            <div id="r4" class="recentopp"></div>
        </div>
    </div>
</div>

</body>

</html>
