<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Wisconsin Chess</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/font.css">
        <link rel="stylesheet" type="text/css" href="/css/colors.css">
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <link rel="stylesheet" type="text/css" href="/css/game.css">
        <script type="text/javascript">
            const GameInformation = {
                ID: {{.GameHeader.ID}},
                // TODO: replace Competitive with Timed
                //Timed: .GameHeader.Timed,
                Competitive: {{.GameHeader.Competitive}},
                PrizePiece: {{.GameHeader.PrizePiece}},
                Conceded: {{.GameHeader.Conceded}},
                White: {
                    Name: {{.GameHeader.White.Name}},
                    Acknowledge: {{.GameHeader.White.Acknowledge}},
                    Elapsed: {{.GameHeader.White.Elapsed}}
                },
                Black: {
                    Name: {{.GameHeader.Black.Name}},
                    Acknowledge: {{.GameHeader.Black.Acknowledge}},
                    Elapsed: {{.GameHeader.Black.Elapsed}}
                },
                Active: {{.GameHeader.Active}},
                Turn: {{.GameHeader.Turn}},
                Player: {{.Name}}
            }
        </script>

        <!-- everything happens in game.js -->
        <script type="module" src="/js/game/game.js"></script>

    </head>

    <body>
        <p>...</p>
        <noscript>
            <p>Welcome to Wisconsin Chess! To play your web browser must be able to run JavaScript.</p>
        </noscript>
    </body>

</html>
