body {
    background: linear-gradient(rgb(1,31,50),rgb(52,20,1));
    background-attachment: fixed;
    margin: 1%;
}

#flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#look {
    flex: 1 200px;
    width: 300px;
    border: thick outset rgb(255,50,110);
    border-radius: 10px;
    margin: 10px;
}

#text {
    margin: 10px;
    flex: 1 400px;
}

h1, h2, p {
    color: white;
}

p {
    font-size: 12pt;
}

a:visited {
    color: green;
}

a:link {
    color: rgb(200,200,255);
}
