* {
    touch-action: none;
}

body {
    opacity: 0;
    transition: opacity 2.5s;
    background: linear-gradient(rgb(72,40,21), rgb(10,41,60));
}

.visible {
    opacity: 1;
}

a {
    padding: 5px;
}

a:link, a:visited {
    color: white;
}

#unsupported {
    font-size: 1.5rem;
    color: white;
}

.floatingside {
    width: 10%;
}

.widefloatingside {
    width: 20%;
}

.verywidefloatingside {
    width: 30%;
}

#floatingbar {
    border: slim rgb(50,10,10);
    border-radius: 5%;
}

#navigation {
    height: 8%;
}

#portraitnavigation {
    width: 15%;
}

#topspacer {
    height: 4%;
}

#bottomspacer {
    height: 3%;
}

#playernames {
    height: 24%;
}

#controls {
    height: 16%;
}

#bottomtakes, #toptakes {
    height: 8%;
    position: relative;
}

#against {
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
    color: rgb(140,60,60);
}

#blacknametext, #whitenametext {
    font-size: 1.7rem;
    text-align: center;
    color: rgb(205,180,160);
}

#activeindicators {
    width: 10%;
}

.activeindicator {
    font-size: 1.5rem;
    text-align: center;
    color: rgb(105,80,60);
}

#status {
    font-size: 1.6rem;
    text-shadow: 1px 1px 0 rgb(5,5,50);
    text-align: center;
    font-weight: bold;
    color: rgb(130,75,60);
    background-color: rgb(50,35,20);
}

.statusindicating {
    font-size: 2.3rem;
    color: rgb(250,255,245);
    font-weight: bold;
}

.statusverticalmargin {
    height: 5%;
}

#showoptionsdiv {
    width: 25%;
}

#mutetext, #whitespacetext, #swapinterfacetext, #swapplayerstext, #showoptions {
    font-size: 2rem;
    text-align: center;
    color: rgb(180,180,200);
}

#showmovestext, #showprevtext, #piececardtext {
    font-size: 2rem;
    text-align: center;
    color: rgb(180,170,175);
}
#concedemargin {
    padding: 2px;
}

#concedetext {
    font-size: 1.5rem;
    color: rgb(190,200,210);
    text-align: center;
}

#concede {
    border: outset rgb(255,225,235);
    border-radius: 5px;
    background: linear-gradient(rgb(70,35,150),rgb(200,60,10));
}

#ackmargin {
    padding: 2px;
}

#acktext {
    font-size: 1.5rem;
    color: rgb(190,200,210);
    text-align: center;
}

#ack {
    border: outset rgb(255,225,235);
    border-radius: 5px;
    background: linear-gradient(rgb(200,50,10), rgb(20,135,120));
    box-shadow: -3px -3px 0 black;    
}

#queenprommargin, #rookprommargin, #bishopprommargin, #knightprommargin {
    padding: 5px;
}

.promotebutton {
    background-color: rgb(35,30,200);
    border: medium outset rgb(220,210,200);
    border-radius: 5px;
}

#queenpromtext, #rookpromtext, #bishoppromtext, #knightpromtext {
    text-align: center;
    font-size: 1.4rem;
    color: rgb(210,255,190);
}

.takeimg {
    position: absolute;
}

.pieceimg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.pieceback {
    z-index: 1;
}

.piecefront {
    z-index: 2;
}

.animatepiece {
    animation-duration: 0.6s;
    animation-name: pieceappear;
}

@keyframes pieceappear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.removeanimatepiece {
    animation-duration: 0.3s;
    animation-name: piecedisappear;
    opacity: 0;
}

@keyframes piecedisappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#board {}
#boardrow {}

#squarebuttonspacer {
    height: 20%;
}

.boardvertspace {
    height: 8%;
}

.boardhorzspace {
    width: 16%;
}

#squareboardbar {
    height: 10%;
}

#squarebar {
    width: 25%;
}

#boardbox {
    background-color: rgb(21,5,30);
    border: thin solid rgb(200,185,145);
}

.chesssquare {
    border: thin solid rgb(200,185,145);
    position: relative;
    transition: 0.05s opacity;
}

.hover {
    opacity: 0.7;
    background-color: black;
}

.move {
    opacity: 0.4;
    background-color: black;
}

.select {
    opacity: 0.6;
    background-color: black;
}

.selectmove {
    opacity: 0.2;
    background: black;
    outline: thick solid rgb(200,125,145);
    z-index: 3;
}

.unmoveable {
    opacity: 0.2;
    background: black;
}

.previousmove {
    opacity: 0.8;
    outline: thick dashed rgb(180,255,195);
    z-index: 3;
}

#portraitdesc {
    width: 40%;
}
