* {
    touch-action: none;
}

body {
    opacity: 0;
    transition: opacity 2.5s;
    background: linear-gradient(120deg, rgb(31,55,78), rgb(101,15,18));
}

#unsupported {
    color: white;
}

.visible {
    opacity: 1;
}

p {
    margin: 0;
}

#top {
    height: 10%;
    background: linear-gradient(100deg, rgb(21,51,101), rgb(107,20,55));
    border-bottom: 1px solid white;
}

#squarepicks {
    height: 10%;
}

#squarebuttons {
    height: 10%;
}

#name {
    font-size: 1.7rem;
    color: rgb(220,220,200);
    text-align: center;
}

#detailsmargin {
    height: 10%;
}

#detailsmargin, #squaredetailsmargin {
    padding: 5px;
}

#details, #squaredetails {
    border: 1px outset rgb(205,175,128);
    border-radius: 2px;
    font-size: 1.3rem;
    color: rgb(220,220,200);
    background: linear-gradient(rgb(110,70,20), rgb(130,50,30));
    text-align: center;
}

#rulesmargin {
    height: 10%;
}

#rulesmargin, #squarerulesmargin {
    padding: 5px;
}

#rules, #squarerules {
    border: 1px outset rgb(125,50,1);
    border-radius: 2px;
    font-size: 1.3rem;
    color: rgb(180,255,255);
    background: linear-gradient(rgb(60,100,120),rgb(80,80,50));
    text-align: center;
}

#title {
    font-size: 1.5rem;
    color: rgb(255,40,70);
    text-shadow: 0 0 30px rgb(200,200,255);
    font-weight: bold;
    text-align: center;
}

#quita {
    text-decoration: none;
}

#quitmargin {
    width: 100%;
    height: 100%;
    padding: 10px;
}

#quit {
    border-radius: 4px;
    color: rgb(150,120,200);
    background-color: rgb(20,10,30);
    box-shadow: -2px -3px 1px rgb(50,50,50);
    font-size: 1.3rem;
    text-align: center;
}

#left {
    width: 25%;
    padding: 15px;
}

.leftspacer {
    height: 3%;
}

#picksmargin {
    height: 20%;
}

#picksmargin, #squarepicksmargin {
    text-align: center;
}

img {
  transition: opacity 0.5s ease-in-out, border 2s ease-in-out, box-shadow 1.5s ease-in-out;  
}

.piecehidden {
    opacity: 0;
}

.armybox {
    text-align: left;
}

.armycell {
    border: 1px solid rgb(80,10,100);
    border-radius: 5px;
    position: absolute;
}

.pick {
    border: 1px outset rgb(20,200,120);
    border-radius: 2px;
}

#pickstitlemargin {
    height: 10%;
    padding: 10px;
}

#squarepickstitlemargin {
    padding: 10px;
}

#pickstitle, #squarepickstitle {
    color: rgb(100,220,180);
    background-color: rgb(25,45,25);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

#matchmargin {
    padding: 20px;
}

#squarematchmargin {
    padding: 5px;
}

#match, #squarematch {
    border: 1px outset rgb(255,125,128);
    border-radius: 3px;
    color: rgb(255,240,245);
    background: linear-gradient(rgb(50,80,200), rgb(7,20,255));    
    box-shadow: 0px -4px 10px rgb(255,125,128);
    font-size: 2.4rem;
    text-align: center;
}

.armydiv {
    height: 30%;
}

#squarearmydiv {
    height: 30%;
}

#armytitlemargin {
    height: 10%;
}

#squarearmytitlemargin {
    height: 23%;
}

#armytitlemargin, #squarearmytitlemargin {
    padding: 10px;
}

#armytitle, #squarearmytitle {
    color: rgb(255,215,175);
    background-color: rgb(15,25,15);
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

#collectiontitlemargin {
    height: 10%;
}

#squarecollectiontitlemargin {
    height: 15%;
}

#collectiontitlemargin, #squarecollectiontitlemargin {
    padding: 10px;
}

#collectiontitle, #squarecollectiontitle {
    text-align: center;
    font-weight: bold;
    color: rgb(240,190,75);
    background-color: rgb(45,25,35);
    font-size: 1.5rem;
}

#collection {
    padding: 10px;
    text-align: center;
}

.collectioncell {
    border: 1px outset rgb(70,150,20);
    border-radius: 2px;
}

.selected {
    border: 1px dashed rgb(255,100,80);
    border-radius: 2px;
}

.used {
    border: 1px outset rgb(50,255,200);
    box-shadow: -1px 0 10px rgb(200,200,195);
    opacity: 0.2;
}

.replaced {
    border: 1px outset rgb(125,160,255);
    border-radius: 5px;
    box-shadow: 0px -4px 15px rgb(255,125,128);
}

.darkened {
    opacity: 0.1;
    transition: opacity 0.3s;
}
