html {
    box-sizing: border-box;
    font-size: 10pt;
}

* {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    border: 0;
}

.inline {
    display: inline-block;
}

.hidden {
    visibility: hidden;
}

.noselect {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
