body {
    background: linear-gradient(rgb(11,25,18), rgb(21,25,88));
    background-attachment: fixed;
}

.noselect {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main {
    background: linear-gradient(rgb(21,15,38), rgb(91,35,18));
    border: thin solid rgb(255,20,10);
    border-radius: 9px;
    margin: 10px;
}

.section {
    flex-grow: 1;
}

.recentopp, #comp, #oppsubmit, input, #cancel {
    display: block;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    font: inherit;
}

input {
    margin: 1rem auto;
    width: 150px;
}

.recentopp {
    border: thick outset rgb(105,75,78);
    border-radius: 7px;
    color: rgb(95,90,145);
    font-style: italic;
    background-color: rgb(20,20,70);
    text-align: center;
}

.activebutton {
    border: thick outset rgb(255,125,128);
    border-radius: 7px;
    color: rgb(255,240,245);
    background-color: rgb(80,120,150);
    box-shadow: 0px -4px 10px rgb(255,125,128);
    text-align: center;
}

p {
    text-align: center;
    color: rgb(100,180,255);
    background-color: rgb(40,55,45);
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 1rem;
    padding: 20px;
}

#inputsection {
    flex: 1 200px;
}

.description {
    background-color: transparent;
    font-size: 1rem;
    color: rgb(240,240,255);
    margin: 1rem;
}

#pagetitle {
    font-size: 1.5rem;
    margin-bottom: 0;
    text-shadow: 0px 1px 1px white;
}

#pagedesc {
    margin: 0;
}

#matchdesc {
    width: 20%;
    text-align: left;
    flex: 1 200px;
}

#player, #matchingname {
    text-shadow: none;
    color: rgb(255,240,250);
    font-weight: bold;    
}

#beststreaktitle, #streaktitle {
    font-size: 1rem;
    background-color: rgb(40,20,10);
    color: rgb(50,75,200);
}

#beststreak, #streak {
    color: rgb(105,130,255);
}

.hidden {
    color: rgb(20,15,18);
    border: thick outset rgb(20,60,30);
    border-radius: 7px;
    background-color: rgb(20,30,30);
    box-shadow: 0px -4px 10px black;
    text-align: center;
}

#matchingtext {
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0.5rem;
}
