* {
    touch-action: none;
}

body {
    opacity: 0;
    transition: opacity 2.5s;
    background: linear-gradient(rgb(11,25,18), rgb(21,25,28));
}

.visible {
    opacity: 1;
}

#unsupported {
    color: white;
}

img {
    display: block;
    transition: opacity 1s ease-in-out, border 4s ease-in-out, box-shadow 1.5s ease-in-out;  
}

#ackmargin, #detailsmargin {
    padding: 10px;
}

#ack {
    color: rgb(255,230,160);
    background-color: rgb(100,100,190);
    border: thick outset rgb(70,50,255);
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
}

#details {
    color: rgb(230,255,150);
    background-color: rgb(150,100,50);
    border: thick outset rgb(255,170,50);
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
}

.rewardtitle {
    color: rgb(170,200,250);
    text-align: center;
    font-size: 1.5rem;
    height: 10%;
}

.rewardcell {
    margin: auto;
    border: thick outset rgb(200,140,50);
    border-radius: 8px;
}

.rewardmargin {
    padding: 40px;
}

/* TODO: one CSS file for collection */

#collection {
    padding: 30px;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.collectionbox {
    text-align: left;
}

.collectioncell {
    position: absolute;
}

.piecehidden {
    opacity: 0;
}

.selected {
    border: thick outset rgb(255,200,150);
    box-shadow: 0px -14px 10px rgb(255,25,198);
}

.picked {
    /* TODO: pattern overlay */
    border: thick outset rgb(50,255,200);
    box-shadow: -1px 0 10px rgb(200,200,195);
    opacity: 0.2;
}

.replaced {
    border: thick outset rgb(160,180,55);
}
